@import "widgets";
@import "transition";
@import "btn";
@import "dropdown";

a, a:hover {
  text-decoration: none;
  cursor: pointer;
}

.login-topbar {
  background-color: #a9d479 ;
  color: #fff;
}

header {
  background-color: #ccf79c;
  height: 200px;
  h1 {
    margin: 0;
    height: 125px;
    line-height: 185px;
    & + p {
      margin-left: 3px;
    }
  }
}

footer {
  background-color: #ccf79c;
  min-height: 150px;
  margin-top: 15px;
  padding-top: 15px;
}

// anti-reset pour ckeditor
ul {
  list-style-type: inherit;
  padding-left: 30px;
}