div.leaflet-popup {
  a.leaflet-popup-close-button {
    top: 6px;
  }
  div.leaflet-popup-content-wrapper {
    border-radius: 3px;
    .leaflet-popup-content {
      margin-top: 0;
    }
    h5 {
      margin-top: 0;
      margin-bottom: 0;
      padding: 10px;
      border-bottom: 1px solid #e0e0e0;
      padding-right: 20px;
    }
    .popup-varietes {
      ul {
        list-style-type: none;
      }
    }
    .map-jardin-resume {
      margin: 5px 0;
    }
  }
}
