{% extends 'actstream/action_layout.html' %}

{% block action_content %}
    {% url 's5appadherant:profil_detail' adherant_id=action.actor.id as proprietaire_profil %}
    <div class="col-md-11">
        <div>
            <a href="{{ proprietaire_profil }}">{{ action.actor.first_name }} {{ action.actor.last_name }}</a>
            vous a retiré de la liste des cultivateurs dans son jardin
            (<a href="{% url 's5appadherant:jardin_detail' jardin_id=action.action_object.jardin.id %}">{{ action.action_object.jardin }}</a>).
        </div>
        <div>
            Vous pouvez toujours consulter ce jardin mais vous n'y avez plus accès avec les droits de modification.
        </div>
        <div>
            Si cette décision vous surprend, vous pouvez toujours
            <a href="{% url 's5appadherant:cultivateur_request' jardin_id=action.action_object.jardin.id %}">réitérer votre demande</a>
            et/ou prendre contact avec lui sur sa page de <a href="{{ proprietaire_profil }}">profil</a>.
        </div>
    </div>
{% endblock %}