<div class="login-toggler pull-right">
    {% if authenticated %}
        <span >Vous êtes connecté(e) en tant que <strong>{{ username }}</strong></span>
        {% if app_name == 's5vitrine' %}
            <a href="{% url 's5appadherant:accueil' %}" class="btn btn-xs btn-primary">Espace adhérant</a>
        {% else %}
            <a href="{% url 's5vitrine:accueil' %}" class="btn btn-xs btn-primary">Retour au site</a>
        {% endif %}
        <a href="{% url 's5appadherant:logout' %}" class="btn btn-xs btn-danger">Déconnexion</a>
    {% else %}
        <a href="{% url 's5appadherant:login' %}" class="btn btn-xs btn-primary">Connexion</a>
    {% endif %}
</div>
