MySQL-python
Django==1.9.2
django-bower
pyyaml
django-bootstrap-form==3.2.1
Pillow==3.4.2
django-ckeditor==5.1.1
django-bootstrap-breadcrumbs==0.8.2
django-with-asserts==0.0.1
django-widget-tweaks==1.4.1
django_compressor==2.1
django-datatable==0.2.1
rules==1.2
django-dynamic-fixture==1.9.1
sqlparse==0.2.2
django-activity-stream==0.6.3
git+git://github.com/disqus/django-mailviews.git@e3f4adbea04a134e485624077c0194d48f1b646f
django-maintenance-mode==0.4.5
django-debug-toolbar==1.6
djangorestframework==3.5.4