MySQL-python
Django==1.9.2
django-bower
pyyaml
django-bootstrap-form==3.2.1
Pillow==3.4.2
django-ckeditor==5.1.1
django-bootstrap-breadcrumbs==0.8.2
django-with-asserts==0.0.1
django-widget-tweaks==1.4.1
django_compressor==2.1
django-datatable==0.2.1