<div id="quit-cultivateur-modal-{{ cultivateur.id }}" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p><strong>Êtes-vous sûr de vouloir quitter le groupe des cultivateurs pour le jardin "{{ cultivateur.jardin }}" ?</strong></p>
                <p>
                    Vous n'aura plus accès à ce jardin avec les droits de modification. Pour en bénéficier
                    à nouveau, vous devrez effectuer une nouvelle demande d'ajout.
                </p>
                <p>
                    Un email de notification sera envoyé au proprietaire du jardin.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <a href="{% url 's5appadherant:cultivateur_quit' jardin_id=cultivateur.jardin.id cultivateur_id=cultivateur.id %}"
                   class="btn btn-danger btn-ok">Quitter le groupe</a>
            </div>
        </div>
    </div>
</div>