{% extends 's5vitrine/base.html' %}

{% load static %}
{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'leaflet/dist/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'leaflet.markercluster/dist/MarkerCluster.css' %}">
    <link rel="stylesheet" href="{% static 'leaflet.markercluster/dist/MarkerCluster.Default.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'handlebars/handlebars.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'leaflet/dist/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'leaflet.markercluster/dist/leaflet.markercluster.js' %}"></script>
    <script type="text/javascript" src="{% static 's5appadherant/js/jquery.ajax-pagination.js' %}"></script>
    <script type="text/javascript" src="{% static 's5appadherant/js/handlebars.helpers.js' %}"></script>

    <script type="text/javascript" src="{% static 's5appadherant/js/map/handler.jardin.js' %}"></script>
    <script type="text/javascript" src="{% static 's5appadherant/js/map/map.js' %}"></script>
    <script type="text/javascript" src="{% static 's5vitrine/js/map.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="vitrine-abstract">
        <p>
            L’initiative pour la mise en place d’une Maison des Semences Paysannes (MSP) des
Hautes Alpes est née de la prise de conscience de la problématique du libre accès aux
semences paysannes qui compromet l’autonomie alimentaire qui elle, conditionne la liberté de
nos enfants à choisir leurs avenir.
        </p>
        <p>
            De par sa position indispensable et indissociable à notre existence, les semences
paysannes et le patrimoine génétique végétal sont un bien collectif. Cela impose qu'une
MSP ait un fonctionnement et une gestion collective de la ressource. C'est pour respecter
cette évidence que la Maison des semences Paysannes des Hautes Alpes s’est constituée
en association collégiale administrée par un conseil d'administration.
        </p>
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-sm btn-default pull-right" href="{{ qui_sommes_nous_url }}">
                    <i class="fa fa-plus"></i>
                    &nbsp;d'infos
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div id="vitrine-map"></div>
            {% verbatim %}
                <script id="popup-template" type="text/x-handlebars-template">
                    <div class="row">
                        <div class="popup-heading">
                            <h5>{{ jardin.appelation }}</h5>
                        </div>
                        {{#if jardin.short_description}}
                            <div class="map-jardin-resume">
                                {{ jardin.short_description }}
                            </div>
                        {{/if}}
                        <div class="popup-varietes" data-pagination>
                            <strong><span data-pagination-count></span> variété(s) cultivée(s)</strong>
                            <ul data-pagination-content></ul>
                            <button type="button" class="btn btn-xs btn-default btn-rounded" data-pagination-prev>
                                <i class="fa fa-long-arrow-left"></i>
                            </button>
                            <button type="button" class="btn btn-xs btn-default btn-rounded" data-pagination-next>
                                <i class="fa fa-long-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </script>

                <script id="culture-item" type="text/x-handlebars-template">
                    <li>
                        <a href="{{namedUrl 's5vitrine:variete_detail' data.id }}">{{ data.nom }}</a>
                    </li>
                </script>
            {% endverbatim %}
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}