{% extends 's5vitrine/base.html' %}

{% load static %}
{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'leaflet/dist/leaflet.css' %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'leaflet/dist/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 's5vitrine/js/map.js' %}"></script>
{% endblock %}

{% block content %}
    <p class="vitrine-abstract">{% lorem %}</p>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div id="vitrine-map"></div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="bloc-lien">Bloc lien 1</div>
        </div>
        <div class="col-md-4">
            <div class="bloc-lien">Bloc lien 2</div>
        </div>
        <div class="col-md-4">
            <div class="bloc-lien">Bloc lien 3</div>
        </div>
    </div>
{% endblock %}