{% load compress %}
{% load static %}
{% load tags %}
<!doctype html>
<html lang="fr_FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ titre_page }}</title>
    {% compress css %}
        {% block stylesheet %}
            <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}">
            <link rel="stylesheet" href="{% static 'screen.css' %}">
        {% endblock %}
    {% endcompress %}
</head>
<body class="context-vitrine">
    <div class="login-topbar">
        <div class="container">
            {% auth_widget request %}
        </div>
    </div>
    <header>
        <div class="container">
            <h1>Réseau semences Hautes-alpes</h1>
        </div>
    </header>
    {% menu menu_actif %}
    <div class="content">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
    <footer>
        <div class="container">
            {% block footer %}
                <div class="row">
                    <div class="col-md-8">{% lorem %}</div>
                    <div class="col-md-4">
                        <p><strong>Vous rencontrez un problème avec ce site ?</strong></p>
                        <p>N'hésitez pas à me contacter par email à l'adresse suivante : </p>
                        <a href="#">mougnoz[point]swan[at]gmail[point]com</a>
                    </div>
                </div>
            {% endblock %}
        </div>
    </footer>
    {% compress js %}
        {% block js %}{% endblock %}
    {% endcompress %}
</body>
</html>