{% extends 's5vitrine/base.html' %}

{% block content %}
    <div class="row">
        {% for variete in varietes %}
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <img src="{{ variete.photo.url }}" alt="{{ variete.nom }}">
                    <div class="caption">
                        <h3>{{ variete.nom }}</h3>
                        <p>{{ variete.description|truncatechars:120 }}</p>
                        <p>
                            <a href="#" class="btn btn-sm btn-primary pull-right" role="button">Fiche variété</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <nav>
            <ul class="pagination">
                {% if varietes.has_previous %}
                    <li>
                        <a href="?page={{ varietes.previous_page_number }}">
                            <span>Précédent</span>
                        </a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <span>Précédent</span>
                    </li>
                {% endif %}
                {% for page_number in varietes.paginator.page_range %}
                    {% if  page_number == varietes.number %}
                        <li class="active">
                            <span>{{ page_number }}<span class="sr-only">(current)</span></span>
                        </li>
                    {% else %}
                        <li>
                            <a href="?page={{ page_number }}">
                                <span>{{ page_number }}</span>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if varietes.has_next %}
                    <li>
                        <a href="?page={{ varietes.next_page_number }}">
                            <span>Suivant</span>
                        </a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <span>Suivant</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}