{% extends 's5vitrine/base.html' %}

{% load static %}
{% block content %}
    <div class="row">
        {% for variete in varietes %}
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <img src="{{ variete.photo.url }}" alt="{{ variete.nom }}">
                    <div class="caption">
                        <h3>{{ variete.nom }}</h3>
                        <p>{{ variete.description|truncatechars:120 }}</p>
                        <p>
                            <a href="#" class="btn btn-sm btn-primary pull-right" role="button">Fiche variété</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}