{% extends 's5appadherant/layout_adherant.html' %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb 'Accueil' 's5appadherant:accueil' %}
    {% if adherant.user == request.user %}
        {% breadcrumb 'Mon profil' None %}
    {% else %}
        {% with "Profil de "|add:adherant.user.first_name|add:" "|add:adherant.user.last_name as label %}
            {% breadcrumb label None %}
        {% endwith %}
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block page_header_title %}
    {{ adherant }}
{% endblock %}

{% load table_tags %}
{% block content_adherant %}
    <div class="row">
        <div class="col-md-8">
            <table>
                <tr>
                    <td>Professionnel :</td>
                    <td>
                        {% if adherant.est_professionnel %}
                            Oui
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Expérience :</td>
                    <td>{{ adherant.get_experience_display }}</td>
                </tr>
            </table>
            {% if adherant.user == request.user %}
                <p>
                    <a href="{% url 's5appadherant:profil_edit' %}" class="btn btn-xs btn-default">
                        <i class="fa fa-pencil"></i>
                        &nbsp;Éditer mes informations
                    </a>
                </p>
            {% endif %}
        </div>
        <div class="col-md-4">
            <div class="panel panel-indigo">
                <div class="panel-heading">
                    <h3 class="panel-title">Me contacter</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <strong>
                            <i class="fa fa-phone"></i>
                            Téléphone :
                        </strong>
                        {{ adherant.telephone }}
                    </p>
                    <p>
                        <strong>
                            <i class="fa fa-envelope"></i>
                            Email :
                        </strong>
                        <a href="mailto:{{ adherant.user.email }}">{{ adherant.user.email }}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Jardins cultivés</h3>
                </div>
                {% render_table jardin_table %}
            </div>
        </div>
    </div>
{% endblock %}