{% extends 's5appadherant/layout_adherant.html' %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb 'Accueil' 's5appadherant:accueil' %}
    {% breadcrumb 'Profil' 's5appadherant:profil_current' %}
    {% breadcrumb 'Éditer mon profil' None %}
    {{ block.super }}
{% endblock %}

{% load bootstrap %}
{% block content_adherant %}
    <div class="row">
        <div class="col-md-12">
            <h2>Éditer mon profil</h2>
        </div>
    </div>
    <div class="row">
            <form action="{% url 's5appadherant:profil_edit'%}"
                  method="POST"
                  role="form"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-6">
                    <div class="well">
                        <h3>Informations</h3>
                        {{ user_form.username|bootstrap }}
                        {{ user_form.first_name|bootstrap }}
                        {{ user_form.last_name|bootstrap }}
                        {{ adherant_form.est_professionnel|bootstrap }}
                        {{ adherant_form.experience|bootstrap }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well">
                        <h3>Coordonnées</h3>
                        {{ adresse_form|bootstrap }}
                        {{ user_form.email|bootstrap }}
                        {{ adherant_form.telephone|bootstrap }}
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right">
                        <i class="fa fa-check"></i>
                        &nbsp;Envoyer
                    </button>
                    <a class="pull-right" href="{% url 's5appadherant:profil_current' %}">Retour à mon profil</a>
                </div>
            </form>
    </div>
{% endblock %}