{% extends 's5appadherant/layout_adherant.html' %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb 'Accueil' 's5appadherant:accueil' %}
    {% breadcrumb 'Profil' 's5appadherant:profil_current' %}
    {% breadcrumb 'Éditer mon profil' None %}
    {{ block.super }}
{% endblock %}

{% block page_header_title %}
    Éditer mon profil
{% endblock %}

{% load bootstrap %}
{% block content_adherant %}
    <div class="row">
        <form action="{% url 's5appadherant:profil_edit'%}"
              method="POST"
              role="form"
              enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-6">
                <div class="panel panel-indigo">
                    <div class="panel-heading">
                        <h3 class="panel-title">Informations</h3>
                    </div>
                    <div class="panel-body">
                        {{ user_form.first_name|bootstrap }}
                        {{ user_form.last_name|bootstrap }}
                        {{ adherant_form.est_professionnel|bootstrap }}
                        {{ adherant_form.experience|bootstrap }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Coordonnées</h3>
                    </div>
                    <div class="panel-body">
                        {{ adresse_form|bootstrap }}
                        {{ user_form.email|bootstrap }}
                        {{ adherant_form.telephone|bootstrap }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <a class="btn btn-sm btn-border btn-default" href="{% url 's5appadherant:profil_current' %}">Retour à mon profil</a>
                        <button type="submit" class="btn btn-sm btn-success">
                            <i class="fa fa-check"></i>
                            &nbsp;Envoyer
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}