{% extends 's5mailing/html/base.html' %}

{% block body %}
    <h3>Demande d'ajout comme cultivateur</h3>
    <p>
        {{ cultivateur.adherant }} a fait une demande pour cultiver un de vos jardin
        (<a href="{{ urlprefix }}{% url 's5appadherant:jardin_detail' jardin_id=cultivateur.jardin.id %}">{{ cultivateur.jardin }}</a>).
    </p>
    <p>
        Rendez-vous sur <a href="{{ urlprefix }}{{ request.scheme }}{% url 's5appadherant:login' %}">votre site</a> pour confirmer ou refuser cette demande.
    </p>
{% endblock %}