{% extends 's5appadherant/layout_adherant.html' %}

{% load tags_adherant %}
{% load activity_tags %}
{% block content_adherant %}
    <div class="panel panel-default">
        {% activity_stream 'self_excluded_unprocessed' request.user %}
        <div class="panel-heading">Activité <span class="badge">{{ stream.count }}</span></div>
        <ul class="list-group">
            {% for action in stream %}
                <li class="list-group-item">
                    {% activity_row action %}
                </li>
            {% empty %}
                <li class="list-group-item text-center">
                    <small><i>Aucune nouvelle activité</i></small>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}