{% extends 's5appadherant/layout_adherant.html' %}

{% load tags_adherant %}
{% load activity_tags %}
{% block content_adherant %}
    <div class="panel panel-default notification-panel">
        {% activity_stream 'self_excluded_unprocessed' request.user %}
        <div class="panel-heading">Activité <span class="badge">{{ stream.count }}</span></div>
        <ul class="list-group">
            {% for action in stream %}
                <li class="list-group-item">
                    {% activity_row action %}
                </li>
            {% empty %}
                <li class="list-group-item text-center">
                    <small><i>Aucune nouvelle activité</i></small>
                </li>
            {% endfor %}
        </ul>
    </div>
    <a class="btn btn-danger btn-rounded">
        <i class="fa fa-times"></i>
        &nbsp;Button</a>
    <a class="btn btn-danger">Button</a>
    <a class="btn btn-xs btn-border btn-rounded btn-danger">Button</a>
    <a class="btn btn-sm btn-border btn-rounded btn-danger">Button</a>
    <a class="btn btn-border btn-rounded btn-danger">Button</a>
    <a class="btn btn-lg btn-border btn-rounded btn-danger">Button</a>
    <a class="btn btn-rounded btn-warning">Button</a>
    <a class="btn btn-border btn-success">Button</a>
{% endblock %}