{% extends 's5appadherant/layout_adherant.html' %}

{# No page header #}
{% block page_header %}{% endblock %}

{% load static %}
{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'leaflet/dist/leaflet.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'handlebars/handlebars.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'leaflet/dist/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 's5appadherant/js/handlebars.helpers.js' %}"></script>
    <script type="text/javascript" src="{% static 's5appadherant/js/s5map.js' %}"></script>
    <script type="text/javascript" src="{% static 's5appadherant/js/map.js' %}"></script>
{% endblock %}

{% load tags_adherant %}
{% load activity_tags %}
{% block content_adherant %}
    <div class="panel panel-default notification-panel">
        {% activity_stream 'self_excluded_unprocessed' request.user %}
        <div class="panel-heading">Activité <span class="badge">{{ stream.count }}</span></div>
        <ul class="list-group">
            {% for action in stream %}
                <li class="list-group-item">
                    {% activity_row action %}
                </li>
            {% empty %}
                <li class="list-group-item text-center">
                    <small><i>Aucune nouvelle activité</i></small>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Carte des jardins</h3>
        </div>
        <div class="panel-body">
            <div id="adherant-map"></div>
            {% verbatim %}
            <script id="popup-template" type="text/x-handlebars-template">
                <div class="row">
                    <h5>{{ jardin.appelation }}</h5>
                    <div>
                        <small>{{ jardin.short_description }}</small>
                    </div>
                    <div class="popup-varietes">
                        <div>{{ jardin.varietes_cultivees.length }} Variétés cultivées</div>
                        <ul>
                            {{#each jardin.varietes_cultivees }}
                            <li>{{namedlink 's5vitrine:variete_detail' id nom }}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </script>
            {% endverbatim %}
        </div>
    </div>
{% endblock %}