{% extends 's5appadherant/base.html' %}

{% load tags_adherant %}
{% load django_bootstrap_breadcrumbs %}
{% block content %}
    <div class="row">
        <div class="col-md-2">
            {% menu_adherant request.user menu_actif %}
        </div>
        <div class="col-md-10">
            <div class="breadcrumbs">
                {% block breadcrumbs %}
                    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
                {% endblock %}
            </div>
            <div class="content-adherant">
                {% block content_adherant %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}