{% extends 's5appadherant/layout_adherant.html' %}

{% block content_adherant %}
     <div class="row">
        <h2>Détail d'une variété</h2>
        <div class="col-md-4">
            <img class="img-responsive" src="{{ variete.photo.url }}" alt="{{ variete.nom }}">
        </div>
        <div class="col-md-8 variete-detail">
            <h3>{{ variete.nom }}</h3>
            <p><strong>Description :</strong></p>
            <p>{{ variete.description }}</p>
        </div>
    </div>
{% endblock %}