{% extends 's5vitrine/base.html' %}

{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            {% if variete.photo %}
                <img class="img-responsive" src="{{ variete.photo.url }}" alt="{{ variete.nom }}">
            {% else %}
                <img class="img-responsive" src="{% static 's5appadherant/images/no_image.png' %}" alt="Pas d'image disponible">
            {% endif %}
        </div>
        <div class="col-md-8 variete-detail">
            <h2>{{ variete.nom }}</h2>
            <p><strong>Description :</strong></p>
            {% autoescape off %}
                {{ variete.description }}
            {% endautoescape %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="pull-right" href="{% url 's5vitrine:variete_list' %}">
                <i class="fa fa-angle-left"></i>
                Retour à la liste
            </a>
        </div>
    </div>
{% endblock %}