{% extends 's5vitrine/base.html' %}

{% load tags %}
{% load static %}
{% block content %}
    <div class="row">
        {% for variete in varietes %}
            {% if forloop.counter == 1 or forloop.counter0|divisibleby:4 %}
                <div class="row">
            {% endif %}
            <div class="col-md-3">
                <div class="thumbnail">
                    {% if variete.photo %}
                        <img src="{{ variete.photo.url }}" alt="{{ variete.nom }}">
                    {% else %}
                        <img class="img-responsive" src="{% static 's5appadherant/images/no_image.png' %}" alt="Pas d'image disponible">
                    {% endif %}
                    <div class="caption">
                        <h3>{{ variete.nom }}</h3>
                        <p>{{ variete.short_description|default:"" }}</p>
                        <p>
                            <a href="{% url 's5vitrine:variete_detail' variete_id=variete.id %}" class="btn btn-sm btn-primary pull-right" role="button">Fiche variété</a>
                        </p>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <nav>
            {% pagination varietes %}
        </nav>
    </div>
{% endblock %}