{% extends 's5appadherant/base.html' %}

{% block auth_widget %}{% endblock %}

{% block content %}
    {% load bootstrap %}
    <div class="login-form-container {% if on_error %}on-error{% endif %}">
        <h2 class="text-center">Connexion</h2>
        {% if on_error %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endif %}
        <form action="{% url 's5appadherant:login' %}" method="POST" role="form">
            {% csrf_token %}
            {{ form|bootstrap }}
            <div class="form-group">
                <a href="{% url 's5vitrine:accueil' %}">Retour à l'accueil</a>
                <button type="submit" class="btn btn-primary pull-right">Envoyer</button>
            </div>
        </form>
    </div>
{% endblock %}