<div class="list-group menu-adherant">
    <a href="{% url 's5appadherant:accueil' %}" class="list-group-item {% if menu_actif == 'accueil' %}active{% endif %}">
        <i class="fa fa-home"></i>
        {{ username }}
    </a>
    <a href="{% url 's5appadherant:profil_detail' %}" class="list-group-item {% if menu_actif == 'profil' %}active{% endif %}">
        Mon profil
    </a>
    <a href="{% url 's5appadherant:jardin_list' %}" class="list-group-item {% if menu_actif == 'jardin' %}active{% endif %}">
        Mes jardins
    </a>
    <a href="{% url 's5appadherant:variete_list' %}" class="list-group-item {% if menu_actif == 'variete' %}active{% endif %}">
        Variétés
    </a>
</div>