.jardin-list {
  strong {
    margin-right: 4px;
  }
  small {
    color: #7d7d7d;
  }
}

#jardin-detail-map {
  height: 200px;
}

.jardin-detail {
  table {
    tr td:first-child {
      font-weight: bold;
      padding-right: 17px;
      padding-bottom: 5px;
    }
  }
  p {
    line-height: 20px;
    span {
      font-weight: bold;
      margin-right: 43px;
    }
  }
}

.panel-description-jardin {
  margin-top: 15px;
}