.variete-detail {
  h3 {
    margin-top: 0;
  }
  .legend {
    font-size: 13px;
    font-style: italic;
    color: #6d6d6d;
  }
}

.variete-list {
  margin-top: 10px;
  img {
    height: 75px;
  }
  .btn {
    margin-top: 22px;
  }
}