{% extends 's5appadherant/layout_adherant.html' %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb 'Accueil' 's5appadherant:accueil' %}
    {% breadcrumb 'Mes jardins' 's5appadherant:jardin_list' %}
    {% breadcrumb jardin.appelation 's5appadherant:jardin_detail' jardin_id=jardin.id %}
    {% breadcrumb 'Ajouter une variété cultivée' None %}
    {{ block.super }}
{% endblock %}

{% load static %}
{% block js %}
    <script type="text/javascript" src="{% static 's5appadherant/js/culture-add.js' %}"></script>
{% endblock %}

{% load bootstrap %}
{% load widget_tweaks %}
{% block content_adherant %}
    <div class="row">
        <div class="col-md-12">
            <h2>Ajouter une variété cultivée</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <form action="{% url 's5appadherant:culture_new' jardin_id=jardin.id %}"
                  method="POST"
                  role="form"
                  enctype="multipart/form-data"
                  class="new-culture-form">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                {{ form.type_conservation|bootstrap }}
                <strong>{{ form.variete.label }}</strong>
                <div class="form-group">
                    <div class="input-group">
                        {{ form.variete|add_class:"form-control" }}
                        <span class="input-group-btn">
                            <button id="add-variete-btn" type="button" class="btn btn-default">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div id="add-variete-fields" class="well hidden">
                    {{ form.variete_nom|bootstrap }}
                    {{ form.variete_description|bootstrap }}
                    {{ form.variete_photo|bootstrap }}
                </div>
                {{ form.mode_selection }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right">
                        <i class="fa fa-check"></i>
                        &nbsp;Ajouter
                    </button>
                    <a class="pull-right" href="{% url 's5appadherant:jardin_detail' jardin_id=jardin.id %}">Retour au jardin</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}