{% extends 's5appadherant/layout_adherant.html' %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb 'Accueil' 's5appadherant:accueil' %}
    {% if jardin.proprietaire == current_adherant %}
        {% breadcrumb 'Mes jardins' 's5appadherant:jardin_adherant' adherant_id=current_adherant.id %}
    {% else %}
        {% breadcrumb 'Tous les jardins' 's5appadherant:jardin_all' %}
    {% endif %}
    {% breadcrumb jardin.appelation None %}
    {{ block.super }}
{% endblock %}

{% load static %}
{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'leaflet/dist/leaflet.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'leaflet/dist/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 's5appadherant/js/jardin-detail-map.js' %}"></script>
{% endblock %}

{% load table_tags %}
{% block content_adherant %}
    <div class="row">
        <div class="col-md-12">
            <h2>{{ jardin.appelation }}</h2>
        </div>
        <div class="col-md-4">
            <div id="jardin-detail-map"
                 data-latitude="{{ jardin.adresse.latitude|stringformat:"f" }}"
                 data-longitude="{{ jardin.adresse.longitude|stringformat:"f" }}">
            </div>
        </div>
        <div class="col-md-8 jardin-detail">
            <div class="row">
                <div class="col-md-12">
                    <table>
                        <tr>
                            <td>Commune :</td>
                            <td>{{ jardin.adresse.commune }}</td>
                        </tr>
                         <tr>
                            <td>Altitude :</td>
                            <td>{{ jardin.adresse.altitude }}</td>
                        </tr>
                        <tr>
                            <td>Exposition :</td>
                            <td>{{ jardin.exposition }}</td>
                        </tr>
                        <tr>
                            <td>Type de sol :</td>
                            <td>{{ jardin.type_sol }}</td>
                        </tr>
                        <tr>
                            <td>Superficie :</td>
                            <td>{{ jardin.superficie }} m²</td>
                        </tr>
                        <tr>
                            <td>Irrigation :</td>
                            <td>{{ jardin.irrigation }}</td>
                        </tr>
                        <tr>
                            <td>Mise en culture :</td>
                            <td>{{ jardin.mise_en_culture }}</td>
                        </tr>
                    </table>
                    <p>
                        <span>Desctiption :</span>{{ jardin.description }}
                    </p>
                </div>
                <div class="col-md-12">
                    <a href="{% url 's5appadherant:jardin_edit' pk=jardin.id %}" class="btn btn-primary pull-right">
                        <i class="fa fa-pencil"></i>
                        &nbsp;Éditer les informations
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-12">
             <div class="row">
                <div class="col-md-12">
                    <h3>Variétés cultivées</h3>
                    {% render_table culture_table %}
                </div>
                <div class="col-md-12">
                    <a href="{% url 's5appadherant:culture_new' jardin_id=jardin.id %}" class="btn btn-primary pull-right">
                        <i class="fa fa-plus"></i>
                        &nbsp;Ajouter une variété cultivée
                    </a>
                </div>
             </div>
        </div>
        <div class="col-md-12">
            <h3>Variétés récoltées</h3>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    {% if cultivateurs_acceptes|length == 0 %}
                        <h3>Aucune autre personne ne cultive ce jardin</h3>
                    {% elif cultivateurs_acceptes|length == 1 %}
                        <h3>Une autre personne cultive ce jardin</h3>
                    {% else %}
                        <h3>{{ cultivateurs_acceptes|length }} autres personnes cultivent ce jardin</h3>
                    {% endif %}
                </div>
                <div class="col-md-12">
                    <ul>
                        {% for cultivateur in cultivateurs_acceptes %}
                            <li>
                                <a href="{% url 's5appadherant:profil_detail' adherant_id=cultivateur.id %}">
                                    <i class="fa fa-user"></i>
                                    {{ cultivateur.user.first_name }} {{ cultivateur.user.last_name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% if current_adherant != jardin.proprietaire %}
                        {% if current_adherant in cultivateurs_all and current_adherant not in cultivateurs_acceptes %}
                            <p class="alert alert-warning">
                                Vous avez déjà envoyé une demande participation à ce jardin.
                                Si la demande n'aboutie pas, n'hésitez pas à prendre contact avec le proprietaire. Ses coordonnées sont présents sur sa
                                <a href="{% url 's5appadherant:profil_detail' adherant_id=jardin.proprietaire.id %}">page de profil</a>
                            </p>
                        {% elif current_adherant not in cultivateurs_all %}
                            <p class="alert alert-info">
                                Vous participez à la culture de ce jardin ? Vous pouvez faire une demande d'ajout en tant que cultivateur :
                                <a href="{% url 's5appadherant:cultivateur_request' jardin_id=jardin.id %}"
                                   class="btn btn-xs btn-default pull-right">
                                    <i class="fa fa-plus-circle"></i>
                                    Faire une demande
                                </a>
                            </p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}