{% extends 's5appadherant/layout_adherant.html' %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb 'Accueil' 's5appadherant:accueil' %}
    {% if jardin.proprietaire == request.user.adherant %}
        {% breadcrumb 'Mes jardins' 's5appadherant:jardin_adherant' adherant_id=request.user.adherant.id %}
    {% else %}
        {% breadcrumb 'Tous les jardins' 's5appadherant:jardin_all' %}
    {% endif %}
    {% breadcrumb jardin.appelation None %}
    {{ block.super }}
{% endblock %}

{% block page_header_title %}
    {{ jardin.appelation }}
{% endblock %}

{% load static %}
{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'leaflet/dist/leaflet.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'leaflet/dist/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 's5appadherant/js/jardin-detail-map.js' %}"></script>
{% endblock %}

{% load rules %}
{% load table_tags %}
{% block content_adherant %}
    <div class="row">
        <div class="col-md-4">
            <div id="jardin-detail-map"
                 data-latitude="{{ jardin.adresse.latitude|stringformat:"f" }}"
                 data-longitude="{{ jardin.adresse.longitude|stringformat:"f" }}">
            </div>
        </div>
        <div class="col-md-8 jardin-detail">
            <div class="panel">
                <div class="panel-body">
                    {% has_perm 's5appadherant.change_jardin' request.user jardin as can_change_jardin %}
                    {% if can_change_jardin %}
                        <a href="{% url 's5appadherant:jardin_edit' jardin_id=jardin.id %}" class="btn btn-xs btn-border btn-primary pull-right">
                            <i class="fa fa-pencil"></i>
                            &nbsp;Éditer les informations
                        </a>
                    {% endif %}
                    <table>
                        <tr>
                            <td>Cultivé par:</td>
                            <td>
                                <a href="{% url 's5appadherant:profil_detail' adherant_id=jardin.proprietaire.id %}">{{ jardin.proprietaire }}</a>
                                {% if cultivateurs_acceptes|length > 0 %}
                                    et<a href="#cultivateurs-list">{{ cultivateurs_acceptes|length }}
                                    autre{{ cultivateurs_acceptes|length|pluralize }}
                                    personne{{ cultivateurs_acceptes|length|pluralize }}</a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Commune :</td>
                            <td>{{ jardin.adresse.commune }}</td>
                        </tr>
                        <tr>
                            <td>Altitude :</td>
                            <td>{{ jardin.adresse.altitude }} m</td>
                        </tr>
                        <tr>
                            <td>Exposition :</td>
                            <td>{{ jardin.exposition }}</td>
                        </tr>
                        <tr>
                            <td>Type de sol :</td>
                            <td>{{ jardin.type_sol }}</td>
                        </tr>
                        <tr>
                            <td>Superficie :</td>
                            <td>{{ jardin.superficie }} m²</td>
                        </tr>
                        <tr>
                            <td>Irrigation :</td>
                            <td>{{ jardin.irrigation }}</td>
                        </tr>
                        <tr>
                            <td>Mise en culture :</td>
                            <td>{{ jardin.mise_en_culture }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-indigo">
                <div class="panel-heading">Description</div>
                <div class="panel-body">
                    <div class="col-md-12">
                        {% autoescape off %}
                            {{ jardin.description }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">Variétés cultivées</div>
                <div class="panel-body">
                    {% render_table culture_table %}
                    {% has_perm 's5appadherant.change_jardin' request.user jardin as can_change_jardin %}
                    {% if can_change_jardin %}
                        <div class="col-md-12">
                            <a href="{% url 's5appadherant:culture_new' jardin_id=jardin.id %}"
                               class="btn btn-primary pull-right">
                                <i class="fa fa-plus"></i>
                                &nbsp;Ajouter une variété cultivée
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
{#            <div class="row">#}
{#                <div class="col-md-12">#}
{#                    <h3>Variétés cultivées</h3>#}
{#                    {% render_table culture_table %}#}
{#                </div>#}
{#                {% has_perm 's5appadherant.change_jardin' request.user jardin as can_change_jardin %}#}
{#                {% if can_change_jardin %}#}
{#                    <div class="col-md-12">#}
{#                        <a href="{% url 's5appadherant:culture_new' jardin_id=jardin.id %}"#}
{#                           class="btn btn-primary pull-right">#}
{#                            <i class="fa fa-plus"></i>#}
{#                            &nbsp;Ajouter une variété cultivée#}
{#                        </a>#}
{#                    </div>#}
{#                {% endif %}#}
{#            </div>#}
        </div>
        <div class="col-md-12">
            <h3>Variétés récoltées</h3>
        </div>
        <div class="col-md-12">
            <div id="cultivateurs-list" class="row">
                <div class="col-md-12">
                    {% with cultivateurs_acceptes|length|add:1 as count %}
                        <h3>
                            {{ count }} personne{{ count|pluralize }} cultive{{ count|pluralize:"nt" }} ce jardin
                        </h3>
                    {% endwith %}
                </div>
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{% url 's5appadherant:profil_detail' adherant_id=jardin.proprietaire.id %}">
                                {{ jardin.proprietaire }}
                            </a>
                            <span class="badge">Propriétaire</span>
                        </li>
                        {% has_perm 's5appadherant.manage_cultivateurs' request.user jardin as can_manage_cultivateurs %}
                        {% for cultivateur in cultivateurs_acceptes %}
                            <li class="list-group-item">
                                <a href="{% url 's5appadherant:profil_detail' adherant_id=cultivateur.adherant.id %}">
                                    {{ cultivateur.adherant }}
                                </a>
                                {% if cultivateur.adherant == request.user.adherant %}
                                    <span class="badge badge-link badge-danger badge-alpha">
                                        <a href="#" data-toggle="modal"
                                           data-target="#quit-cultivateur-modal-{{ cultivateur.id }}">
                                            <i class="fa fa-ban"></i>
                                            Quitter le groupe
                                        </a>
                                    </span>
                                    {% include 's5appadherant/jardin/partials/modal.quit_cultivateur.html' %}
                                {% elif can_manage_cultivateurs %}
                                    <span class="badge badge-link badge-danger badge-alpha">
                                        <a href="#" data-toggle="modal" data-target="#delete-cultivateur-modal-{{ cultivateur.id }}">
                                            <i class="fa fa-ban"></i>
                                            Retirer de la liste
                                        </a>
                                    </span>
                                    {% include 's5appadherant/jardin/partials/modal.delete_cultivateur.html' %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-12">
                    {% has_perm 's5appadherant.request_cultivateur' request.user jardin as can_request_cultivateur %}
                    {% if can_request_cultivateur %}
                        <p class="alert alert-info">
                            Vous participez à la culture de ce jardin ? Vous pouvez faire une demande d'ajout en
                            tant que cultivateur :
                            <a href="{% url 's5appadherant:cultivateur_request' jardin_id=jardin.id %}"
                               class="btn btn-xs btn-default pull-right">
                                <i class="fa fa-plus-circle"></i>
                                Faire une demande
                            </a>
                        </p>
                    {% elif cultivateur_request_pending %}
                        <p class="alert alert-warning">
                            Vous avez déjà envoyé une demande participation à ce jardin.
                            Si la demande n'aboutie pas, n'hésitez pas à prendre contact avec le proprietaire. Ses
                            coordonnées sont présents sur sa
                            <a href="{% url 's5appadherant:profil_detail' adherant_id=jardin.proprietaire.id %}">
                                page de profil
                            </a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}