{% extends 's5appadherant/layout_adherant.html' %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb 'Accueil' 's5appadherant:accueil' %}
    {% breadcrumb 'Mes jardins' 's5appadherant:jardin_adherant' adherant_id=current_adherant.id %}
    {% if jardin %}
        {% breadcrumb jardin.appelation 's5appadherant:jardin_detail' jardin_id=jardin.id %}
        {% breadcrumb "Édition" None %}
    {% else %}
        {% breadcrumb "Ajouter un jardin" None %}
    {% endif %}
    {{ block.super }}
{% endblock %}

{% load bootstrap %}
{% block content_adherant %}
    <div class="row">
        <div class="col-md-12">
            {% if jardin %}
                <h2>Édition d'un jardin : <i>{{ jardin.appelation }}</i></h2>
            {% else %}
                <h2>Ajouter un jardin</h2>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% if jardin %}
            <form action="{% url 's5appadherant:jardin_edit' pk=jardin.id %}"
        {% else %}
            <form action="{% url 's5appadherant:jardin_new' %}"
        {% endif %}
              method="POST"
              role="form"
              enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12">{{ form.non_field_errors }}</div>
            <div class="col-md-6">
                <div class="well">
                    <h3>Informations</h3>
                    {{ form.appelation|bootstrap }}
                    {{ form.exposition|bootstrap }}
                    {{ form.type_sol|bootstrap }}
                    {{ form.irrigation|bootstrap }}
                    {{ form.mise_en_culture|bootstrap }}
                    {{ form.description|bootstrap }}
                    {{ form.superficie|bootstrap }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <h3>Localisation</h3>
                    {{ form.adresse|bootstrap }}
                    {{ form.commune|bootstrap }}
                    {{ form.latitude|bootstrap }}
                    {{ form.longitude|bootstrap }}
                    {{ form.altitude|bootstrap }}
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary pull-right">
                    <i class="fa fa-check"></i>
                    &nbsp;Envoyer
                </button>
                {% if jardin %}
                    <a class="pull-right" href="{% url 's5appadherant:jardin_detail' jardin_id=jardin.id %}">Retour au jardin</a>
                {% else %}
                    <a class="pull-right" href="{% url 's5appadherant:jardin_adherant' adherant_id=current_adherant.id %}">Retour à la liste</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}