{% extends 's5appadherant/layout_adherant.html' %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb 'Accueil' 's5appadherant:accueil' %}
    {% if list == 'adherant' %}
        {% breadcrumb 'Mes jardins' None %}
    {% elif list == 'cultivateur' %}
        {% breadcrumb 'Jardins auxquels je participe' None %}
    {% elif list == 'all' %}
        {% breadcrumb 'Tous les jardins' None %}
    {% endif %}
    {{ block.super }}
{% endblock %}

{% load tags %}
{% load static %}
{% block content_adherant %}
    <div class="panel">
        <div class="panel-heading">
            <a class="btn btn-xs btn-success pull-right" href="{% url 's5appadherant:jardin_new' %}">
                <i class="fa fa-plus"></i>
                &nbsp;Ajouter un jardin
            </a>
            <h3 class="panel-title">Parcourir les jardins</h3>
        </div>
        <div class="panel-body panel-list-body">
            <div class="tabs">
                <ul class="list-inline tabs-nav">
                    <li {% if list == 'adherant' %}class="active"{% endif %}>
                        <a href="{% url 's5appadherant:jardin_adherant' adherant_id=request.user.adherant.id %}">Mes
                            jardins</a>
                    </li>
                    <li {% if list == 'cultivateur' %}class="active"{% endif %}>
                        <a href="{% url 's5appadherant:jardin_cultivateur' adherant_id=request.user.adherant.id %}">Jardins
                            auxquels je participe</a>
                    </li>
                    <li {% if list == 'all' %}class="active"{% endif %}>
                        <a href="{% url 's5appadherant:jardin_all' %}">Tous les jardins</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="list-group jardin-list">
                        {% for jardin in jardins %}
                            <a href="{% url 's5appadherant:jardin_detail' jardin_id=jardin.id %}" class="list-group-item">
                                <div class="row">
                                    <div class="col-md-8">
                                        <strong>{{ jardin.appelation }}</strong>
                                        <small>
                                            <i class="fa fa-map-marker"></i>
                                            {{ jardin.adresse.commune }}
                                        </small>
                                        <div>
                                            <small>{{ jardin.short_description|default:"" }}</small>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-sm btn-primary pull-right">
                                            Voir ce jardin
                                        </button>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-center">
                {% pagination jardins %}
            </div>
        </div>
    </div>
{% endblock %}