{% extends 's5appadherant/layout_adherant.html' %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb 'Accueil' 's5appadherant:accueil' %}
    {% breadcrumb 'Liste des variétés' 's5appadherant:variete_list' %}
    {% breadcrumb variete.nom None %}
    {{ block.super }}
{% endblock %}

{% load static %}
{% block content_adherant %}
     <div class="row">
        <div class="col-md-12">
            <h2>{{ variete.nom }}</h2>
        </div>
        <div class="col-md-4">
            {% if variete.photo %}
                <img class="img-responsive" src="{{ variete.photo.url }}" alt="{{ variete.nom }}">
            {% else %}
                <img class="img-responsive" src="{% static 's5appadherant/images/no_image.png' %}" alt="Pas d'image disponible">
            {% endif %}
        </div>
        <div class="col-md-8 variete-detail">
            <p><strong>Description :</strong></p>
            <p>{{ variete.description }}</p>
            <a class="btn btn-primary pull-right" href="{% url 's5appadherant:variete_edit' pk=variete.id %}">
                <i class="fa fa-pencil"></i>
                &nbsp;Modifier cette variété
            </a>
        </div>
    </div>
{% endblock %}