{% extends 's5appadherant/layout_adherant.html' %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb 'Accueil' 's5appadherant:accueil' %}
    {% breadcrumb 'Liste des variétés' 's5appadherant:variete_list' %}
    {% if variete %}
        {% breadcrumb variete.nom 's5appadherant:variete_detail' variete_id=variete.id %}
        {% breadcrumb "Édition" None %}
    {% else %}
        {% breadcrumb "Ajout d'une variété" None %}
    {% endif %}
    {{ block.super }}
{% endblock %}

{% load static %}
{% block row_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
{% endblock %}

{% load bootstrap %}
{% block content_adherant %}
    <div class="row">
        <div class="col-md-12">
            {% if variete %}
                <h2>Édition d'une variété  : <i>{{ variete.nom }}</i></h2>
            {% else %}
                <h2>Ajout d'une nouvelle variété</h2>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 ckeditor-fill-width">
            {% if variete %}
                <form action="{% url 's5appadherant:variete_edit' pk=variete.id %}"
            {% else %}
                <form action="{% url 's5appadherant:variete_new' %}"
            {% endif %}
                  method="POST"
                  role="form"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrap }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right">
                        <i class="fa fa-check"></i>
                        &nbsp;Envoyer
                    </button>
                    <a class="pull-right" href="{% url 's5appadherant:variete_list' %}">Retour à la liste</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}