.vitrine-abstract {
  text-align: justify;
  font-size: 16px;
  margin-bottom: 25px;
}

#vitrine-map {
  height: 400px;
}

.bloc-lien {
  border: 1px solid #000;
  height: 150px;
  text-align: center;
  line-height: 150px;
  margin-top: 10px;
}

footer {
  .catchword {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .address {
    margin-bottom: 10px;
    font-size: 13px;
  }
}