.vitrine-abstract {
  text-align: center;
}

#vitrine-map {
  height: 450px;
}

.bloc-lien {
  border: 1px solid #000;
  height: 150px;
  text-align: center;
  line-height: 150px;
  margin-top: 10px;
}